/* Carousel section */

.row {

    .container {

        .carousel {

            margin-bottom: 40px;

            .carousel-status {
                margin: 5px;
            }

            .image-fix {

                border: 1px solid black;
                height: 400px;
            
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                align-items: flex-start;

                // text-align: start;
            
                p, h2, a {
                    margin: 15px;
                    padding: 15px;
                    text-align: left;
                    background-color: rgba(245, 245, 245, 0.75);
                    color: $blue-bar-color;
                    text-decoration: none;
                }
                a {
                    align-self: flex-end;
                    &:hover {
                        color: $base-bg-color;
                        background-color: $red-bar-color;
                    }
                }

                p {
                    max-width: 700px;
                    overflow: hidden;
                }

            }

        }

    }
}

