.banner-div {
  background-color: $red-bar-color;
  height: 50px;
}

.nav-div {
  background-color: $blue-bar-color;
  height: fit-content;
  padding: 10px;

    .right {
      float: right;
    }
}

.nav-div {
  a:link, a:visited {
  color: whitesmoke;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #496b8faf;
  color: white;
}
}
          
.nav-div Link {
  background-color: $blue-bar-color;
  height: 50px;
  color: whitesmoke;
}