.banner-div {
  background-color: #b61615;
  height: 50px;
}

.nav-div {
  background-color: #1c2938;
  height: 50px;
}

.nav-div button {
  background-color: #1c2938;
  height: 50px;
  color: whitesmoke;
}