html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    /* min-height: 100%; */
    /* min-height: 100vh; */
    height: 100%;
}

.content {
    /* height: 100%; */
    flex: 1 0 auto;
    min-height: calc(100vh - 70px);
}

.banner-div {
    background-color: #b61615;
    height: 50px;
}

h1 {
    text-align: center;
}

.text-div {
    margin: 0 15%;
}

.nav-div {
    background-color: #1c2938;
    height: 50px;
}

.nav-div button {
    background-color: #1c2938;
    height: 50px;
    color: whitesmoke;
}

.carousel .slider-wrapper {
    /* height: 150px; */
    width: 500px;
}



.footer {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: whitesmoke;
    background-color: #1c2938;
    font-size: small;
    flex-shrink: 0;
    /* align-self: flex-end; */
    /* position: absolute; */
    /* height: 50px; */
    left: 0;
    bottom: 0;
    right: 0;

}

/* #footer div {
    display: flex;
    flex-direction: column;
} */
.to-left {
    width: fit-content;
    margin-left: 5px;
    /* justify-content: flex-start; */

}
.to-right {
    width: fit-content;
    text-align: right;
    margin-right: 5px;
}

.card-a {
    background-color: silver;
    width: 100%;
}

.example-div {
    width: 200px;
    background-color: blue;
}

/* controls the background colour of the slides overall, as they are changed */
.carousel .slide {
    background: blue;
}

/* changes the colour of specific slides as they are shown */
/* .slide.selected {
    background-color: pink;
} */