@import "variables";
@import "config";
@import "header";
@import "footer";

// -- Start Content Styles

.row {

  background-color: $base-bg-color;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:nth-of-type(even) { 
    background-color: $dark-bg-color;
    border: 0px solid $border-bg-color;
    border-width: 1px 0;
  }

  .container {
    min-width: 325px;
    padding: 0 25px;
    max-width: 800px;
    margin: 60px auto;
  
    h1 {
      text-align: center;
      font-weight: 700;
      line-height: 50px;
      font-size: 36px;
    }
    
    h2 {
      text-align: center;
      font-weight: 600;
      line-height: 40px;
      font-size: 30px;
    }
    
    p, ul li {
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
    }
  }

}

.carousel {
    border: 3px ridge black;
    background-color: whitesmoke;
    height: 100px;
    width: 400px;
    margin: 0 auto;
}

.document-box {
  height: fit-content;
  width: fit-content;
  position: relative;
  float: right;
  margin-right: 10px;
  border: 2px ridge black;
  background-color: slategrey;
  padding: 5px;
}
.document-box ul {
  text-align: left;
  padding-inline-start: 15px;
}